.headerDescription {
  background: linear-gradient(90deg, #1f70c1, #00000025);
  height: 32vh;
  position: relative;
}

.listItemLeft {
  position: absolute;
  width: 100vh;
  height: 25vh;
  top: 30px;
  left: 40px;
}

.listItemRight {
  position: absolute;
  width: 90vh;
  height: 25vh;
  top: 30px;
  right: 100px;
}

.previousPath {
  color: white !important;
  text-decoration: none !important;
}

.courseInformation {
  padding-top: 45px;
}

.courseTitle {
  color: white !important;
  word-break: break-all;
  font-weight: bold;
}

.courseShortDescription {
  font-size: 14px;
  color: white;
  word-break: break-all;
  width: 68vh;
  height: 5vh;
  overflow-x: hidden;
  overflow-y: hidden;
  margin-bottom: 25px;
}

.courseEnroll {
  display: flex;
  list-style-type: none;
}

.enrollButton {
  width: 150px;
  height: 40px;
  background: #e9e5fd !important;
  font-size: 15px;
  color: black !important;
}

.enrollNumber {
  margin-top: -5px;
  font-size: 20px;
  color: white;
}

.courseProvider {
  font-size: 20px;
  font-weight: bold;
  color: white;
  margin-left: 0px;
}

.courseProviderLogo {
  margin-top: -30px;
  margin-left: -10px;
  width: 250px;
  height: 150px;
}

.categoryHeader {
  text-align: center !important;
  width: 60vh;
  font-size: 20px;
}

.categoryInformation {
  font-size: 20px;
  text-align: center !important;
}
