.headerDescription {
  height: 32vh;
  position: relative;
  background-color: #eaded3;
}

.listItemLeft {
  position: absolute;
  width: 100vh;
  height: 25vh;
  top: 30px;
  left: 40px;
}

.listItemRight {
  position: absolute;
  width: 90vh;
  height: 25vh;
  top: 30px;
  right: 100px;
}

.previousPath {
  color: white !important;
  text-decoration: none !important;
}

.courseInformation {
}

.courseTitle {
  color: #2f4f4f !important;
  word-break: break-all;
  font-weight: bold;
}

.courseShortDescription {
  font-size: 14px;
  color: #2f4f4f;
  word-break: break-all;
  width: 68vh;
  height: 5vh;
  overflow-x: hidden;
  overflow-y: hidden;
  margin-bottom: 25px;
}

.courseDescription {
  font-size: 14px;
  color: #2f4f4f;
  word-break: break-all;
  width: 60vh;
  overflow-x: hidden;
  overflow-y: hidden;
  text-align: justify;
}

.courseEnroll {
  display: flex;
  list-style-type: none;
}

.enrollButton {
  width: 150px;
  height: 40px;
  font-size: 15px;
}

.enrollNumber {
  margin-top: -5px;
  font-size: 20px;
  color: white;
}

.courseProvider {
  font-size: 20px;
  font-weight: bold;
  color: white;
  margin-left: 0px;
}

.courseProviderLogo {
  margin-top: -10px;
  margin-left: -10px;
  width: 400px;
  height: 254px;
  object-fit: cover;
}

.categoryHeader {
  text-align: center !important;
  width: 60vh;
  font-size: 20px;
}

.categoryInformation {
  font-size: 20px;
  text-align: center !important;
}

.MuiTableRow-root {
  border-bottom: 2px solid white;
}

.MuiTableCell-body {
  font-size: 14px !important;
  color: #2f4f4f !important;
  font-weight: 600 !important;
}

.MuiContainer-root.MuiContainer-maxWidthLg {
  padding: 0px 0px 50px 0px;
}

#detail-course > div.MuiContainer-root.MuiContainer-maxWidthLg {
  padding: 0px 32px 0px 32px;
}

.MuiGrid-spacing-xs-1 {
  width: 100% !important;
  margin: 0px !important;
}
