#mainBG {
    background-image: url('https://cdn.hipwallpaper.com/i/58/73/TivWEB.jpg');
    background-repeat: no-repeat;
}

#cardContent {
    position: relative;
    width: 50vh;
    padding-top: 20vh;
    margin-left: 77vh;
    height: 30vh;
    opacity: 0;
}

#mainPg {
    padding-top: 3vh;
    font-size: 30;
    color: whitesmoke;
}

#centerPaper {
    width:'40%';
    position: absolute;
    top:50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#bottomPaper {
    position: absolute;
    left: 0;
    bottom: 0;

}